<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\TwoFactorAuth\Observer\ControllerActionPredispatch">
		<plugin name="WolfSellers_EnableDisableTfa_Plugin_Backend_Magento_TwoFactorAuth_Observer_ControllerActionPredispatch"
                disabled="false" sortOrder="0"
                type="WolfSellers\EnableDisableTfa\Plugin\Backend\Magento\TwoFactorAuth\Observer\ControllerActionPredispatch"/>
	</type>
</config>
